@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 0 20px;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    font-family: 'Chivo Mono', Tahoma, sans-serif;
    background-color: #F8FBFE;
    color: #333;
}

.container {
    max-width: 500px;
    padding: 20px;
    background-color: white;
    border: 2px solid #84B9F3;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(132, 185, 243, 0.2);
}

h1 {
    color: #FF356A;
    margin-bottom: 30px;
    text-align: center;
}

.display {
    min-width: 340px;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    padding: 20px;
    font-family: "Electrolize", sans-serif;
    border: 2px dashed #84B9F3;
    border-radius: 10px;
    background-color: #F8FBFE;
}

.controles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
}

button {
    min-width: 60px;
    text-align: center;
    background-color: #FF356A;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 8px;
    border: 3px solid transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e02e5e;
    border-color: #333;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


/* HISTORICO */

.history {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.title-history {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
}

.box-history {
    width: 100%;
    height: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid #84B9F3;
    border-radius: 10px;
    gap: 12px;
    overflow-y: auto;
}

.msg-historico-vazio {
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    color: #888;
    border-radius: 10px;
    pointer-events: none;
    user-select: none;
}

.item {
    padding: 0.4rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px dashed #84B9F3;
    border-radius: 10px;
    background-color: #F8FBFE;
}

.item-valor {
    font-family: 'Chivo Mono', Tahoma, sans-serif;
}

.fade-in {
    opacity: 0;
    transform: translateX(-5px);
    animation: fadeIn 0.3s ease forwards;
}

.fade-out {
    opacity: 0;
    transform: translateX(5px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

@media screen and (max-width: 720px) {
    body {
        flex-direction: column;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}